*.log
~$*.doc
~$*.docx
Kel 4_LaporanAkhirRPL.docx
Lampiran_Manual_Book_SPMB_MI_Annajiyah.docx
start-spmb.bat
.DS_Store
.env
.env.backup
.env.production
.phpactor.json
.phpunit.result.cache
/.cursor/
/.idea
/.nova
/.phpunit.cache
/.vscode
/.zed
/auth.json
/_source_assets
/node_modules
/public/build
/public/hot
/public/storage
/public/uploads
!/public/uploads/
public/uploads/*
!/public/uploads/banner/
!/public/uploads/fasilitas/
!/public/uploads/guru/
!/public/uploads/kegiatan/
public/uploads/banner/*
!public/uploads/banner/*_card.webp
!public/uploads/banner/*_hero.webp
public/uploads/fasilitas/*
!public/uploads/fasilitas/*_card.webp
public/uploads/guru/*
!public/uploads/guru/*_card.webp
public/uploads/kegiatan/*
!/public/uploads/kegiatan/*_card.webp
/scratch
/test-results
/storage/*.key
/storage/framework/views/*
!/storage/framework/views/.gitignore
/storage/pail
/vendor
_ide_helper.php
Homestead.json
Homestead.yaml
Thumbs.db
